{% extends 'base.html' %}

{% block center %}
<script language="JavaScript" type="text/javascript" src="http://www.my97.net/dp/My97DatePicker/WdatePicker.js"></script>


<div class="right">
    <div class="new">
        <h1>合同修改</h1>
    </div>
	    {% if create_succ %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>成功!</h4>修改成功
        </div>
       {% endif %}
    <div class="checkcontract">
        <div class="well">  
            <form class="form-horizontal" action="/altercontract" method="post">
				<input type="hidden" id="contractid" name="contractid" placeholder="合同id" value={{contract.id}}>
                <label class="control-label">合同编号</label><input type="text" id="number" name="number" placeholder="合同编号" value={{contract.number}}>
				<br /><br />
                <label class="control-label">姓名</label><input type="text" id="client_name" name="client_name" placeholder="姓名" value={{contract.client_name}}>
				<br /><br />
			   <label class="control-label">身份证号</label><input type="text" id="client_idcard" name="client_idcard" placeholder="身份证号" value={{contract.client_idcard}}>
				<br /><br />
                <label class="control-label">开户行</label><input type="text" id="bank" name="bank" placeholder="开户行" value={{contract.bank}}>
				<br /><br />
			   <label class="control-label">银行卡号</label><input type="text" id="bank_card" name="bank_card" placeholder="银行卡号" value={{contract.bank_card}}>
				<br /><br />
                <label class="control-label">金额</label><input type="text" id="money" name="money" placeholder="金额" value={{contract.money}}>
				<br /><br />
			 <label class="control-label">产品</label>
			<select name="product_id">
			<option value='{{contract.number.name}}'>{{contract.thisproduct.name}}</option>
            {%for item in products%}
            <option value='{{item.id}}'>{{item.name}}</option>
            {%endfor%}
            </select>
            <br /><br />
            <label class="control-label">开始日期</label>
            <input id="startdate" name="startdate" placeholder="开始日期" value={{contract.startdate}} onClick="WdatePicker()">
			 <br /><br />
           <label class="control-label">截至日期</label>
            
            <input id="enddate" name="enddate" placeholder="截止日期" value={{contract.enddate}} onClick="WdatePicker()">
            <br /><br />
            <label class="control-label">理财顾问</label>
            <select name="manager_id">
		    <option value='{{contract.number.name}}'>{{contract.thismanager.name}}</option>
            {%for item in managers%}
            <option value='{{item.id}}'>{{item.name}}</option>
            {%endfor%}
            </select>
            <p class="form-actions">

                <input type="submit" value="提交" class="btn btn-primary">
            </p>

            </form>
            </div>
      

    
    </div> <!-- /container -->
</div>

{% endblock %}