{% extends 'base.html' %}

{% block center %}

<div class="right">
    <div class="new">
        <h1>欢迎使用富瑞星通业务查询系统</h1>
    </div>
    <div class="newproduct">
        <form method='post' action='/newproduct'>
            产品名称:<input type='text' name='name' />
            年化收益:<input type='text' name='rate' />%
            返款类型:<select name="repaycycle_id">
                {%for item in cycles%}
                <option value='{{item.id}}'>{{item.name}}</option>
                {%endfor%}
            </select>
            封闭期:<input type='text' name='closedperiod' />
            <select name='closedtype'>
                <option value='m'>月</option>
                <option value='d'>天</option>
            </select>
            <input type="submit" value="Submit" />
        </form>
    </div>
<div>


{% endblock %}
