{% extends 'base.html' %}

{% block center %}


<style>
.input-append{
text-align:center;
margin-left:auto; 
margin-right:auto;
}
</style>
</head>
<body>
<h2>合同查询</h2>
<div class="input-append" >
    <input type="text" class="span2 search-query">
        <button type="submit" class="btn">Search</button>
</div>
    <div class="container">
   
      <table class="table">
        <thead>
          <tr>
            <th>序号</th>
            <th>合同编号</th>
            <th>姓名</th>
            <th>身份证号</th>
            <th>开户行</th>
            <th>银行卡号</th>
            <th>产品</th>
            <th>金额</th>
            <th>签约日</th>
            <th>到期日</th>
            <th>理财顾问</th>
          </tr>
        </thead>
        <tbody>
        {%for item in logs%}
        <tr>
            <td>{{item.info}}</td>
            <td>{{item.time}}</td>
            <td>{{item.thisuser.username}}</td>
        </tr>
        {%endfor%}
        </tbody>
      </table>
    </div>

</body>
</html>
        
{% endblock %}