{% extends 'base.html' %}

{% block center %}
<!DOCTYPE html>
<html>
<head>
	<title>addcontract</title>
	<link href="../../website/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="../../website/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
	<script type="text/javascript" src="../../website/static/js/jquery.js"></script>
	<script type="text/javascript" src="../../website/static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../website/static/js/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript" src="../../website/static/js/bootstrap-datetimepicker.min.js"></script>
<style>
.input-append{
text-align:center;
margin-left:auto; 
margin-right:auto;
}
</style>
</head>
<body>
      <div id="legend" class="">
        <legend class="">查询合同</legend>
      </div>
<div class="input-append" >
    <input type="text" class="span2 search-query">
        <button type="submit" class="btn">Search</button>
</div>

</body>
</html>
        
{% endblock %}